<div id="pop-up" class="pop-up" role="dialog">
	<div class="pop-up__content">
		<h2 class="pop-up__title">Lorem ipsum dolor.</h2>
		<h2 class="pop-up__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, excepturi!</h2>
		<button class="pop-up__close" onclick="$.magnificPopup.close();">ok</button>
	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->