<section class="accordion" data-js="accordion" id="accordion">
	<div class="accordion_title">Title</div>
	<div class="accordion_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugit laudantium non officiis quia vel voluptate. Accusamus, accusantium aliquid commodi dicta distinctio doloribus ducimus laborum modi necessitatibus porro veniam voluptatibus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugit laudantium non officiis quia vel voluptate. Accusamus, accusantium aliquid commodi dicta distinctio doloribus ducimus laborum modi necessitatibus porro veniam voluptatibus!</div>
</section>