<ul class="breadcrumbs">
	<li><a href="#0"><i class="icon-home"></i>Главная</a></li>
	<li><a href="#0">Каталог</a></li>
	<li><a href="#0">Кабель и провода</a></li>
	<li><a href="#0">Интернет кабель</a></li>
	<li>LAN Кабель</li>
</ul>