<div class="row">
	<div class="col-xs-12">
		<div class="filter js-filter">
			<h3 class="filter__result">Results <span>21</span></h3>
			<form class="filter__body" method="get">
				<ul class="filter__list">
					<li class="filter__item js-filter-item">
						<button type="button" class="filter__title js-drop-btn">city</button>
						<div class="filter__box clearfix js-drop-box">
							<ul class="filter__options">
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Jerusalem</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Tel Aviv</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Haifa</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Rishon LeZion</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Petah Tikva</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Ashdod</span>
									</label>
								</li>
							</ul>
							<button type="submit" class="filter__submit">Ok</button>
						</div>
						<!-- filter__box -->
					</li>
					
					<li class="filter__item js-filter-item">
						<button type="button" class="filter__title js-drop-btn">category room</button>
						<div class="filter__box clearfix js-drop-box">
							<ul class="filter__options">
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Classic room</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Delux room</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>VIP room</span>
									</label>
								</li>
							</ul>
							<button type="submit" class="filter__submit">Ok</button>
						</div>
						<!-- filter__box -->
					</li>
					
					<li class="filter__item js-filter-item">
						<button type="button" class="filter__title js-drop-btn">apartment type</button>
						<div class="filter__box clearfix js-drop-box">
							<ul class="filter__options">
								<li>
									<label class="checkbox">
										<input type="checkbox" checked>
										<span>Apartment</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox" checked>
										<span>Cottage</span>
									</label>
								</li>
							</ul>
							<button type="submit" class="filter__submit">Ok</button>
						</div>
						<!-- filter__box -->
					</li>
					
					<li class="filter__item js-filter-item">
						<button type="button" class="filter__title js-drop-btn">facilities</button>
						<div class="filter__box clearfix js-drop-box">
							<ul class="filter__options">
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>View Beach</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Wi-Fi</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox">
										<span>Cable TV</span>
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox" checked>
										<span>Air-condition</span>
									</label>
								</li>
							</ul>
							<button type="submit" class="filter__submit">Ok</button>
						</div>
						<!-- filter__box -->
					</li>
					
					
				</ul>
			</form>
			<!-- filter__body -->
			<button class="filter__reset js-filter-reset is-empty"><i class="fa fa-refresh" aria-hidden="true"></i> reset filters</button>
		</div>
		<!-- filter -->
	</div>
</div>
<!-- row -->