<script>
	var mapConfig = {
		markers: {
			_1: {
				title: 'TESORO JEWELRY',
				center: [46.4618582, 30.7420222],
				baloonContent: '<p class="baloon__address">Одесса, Семафорный переулок 4, ТРЦ Среднефонтанский, 2-й этаж</p><p class="baloon__time">Работаем:<br>с 10:00 до 22:00 <br> без выходных</p>'
			},
			_2: {
				title: 'TESORO Bags',
				center: [46.4615582, 30.7418222],
				baloonContent: '<p class="baloon__address">Одесса, Семафорный переулок 4, ТРЦ Среднефонтанский, 1-й этаж</p><p class="baloon__time">Работаем:<br>с 10:00 до 22:00 <br> без выходных</p>'
			},
			_3: {
				title: 'TIORO JEWELRY',
				center: [50.4509813, 30.5225869],
				baloonContent: '<p class="baloon__address">Киев, пл.Институтская 2,ТЦ «Глобус»</p><p class="baloon__time">Работаем:<br>с 10:00 до 22:00 <br> без выходных</p>'
			}
		},
		mapCenter: [46.4617582, 30.7419222],
		zoom: 17
	}
</script>

<div id="g-map" class="map"></div>
