<div class="grid">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 grid_item">

		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 grid_item">

		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 grid_item">

		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 grid_item">

		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 grid_item">

		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 grid_item">

		</div>
	</div>
</div>