<div class="range js-range">

		<p class="range_text"> от
			<input type="text" id="amount-min" class="range_input js-only-digit" data-default="0" value="0" name="min"> до
			<input type="text" id="amount-max" class="range_input js-only-digit" data-default="10000" value="10000" name="max"> грн
		</p>

		<div class="range_slider">
			<div id="slider-range"></div>
			<p class="range_min js-range-min"><span></span> грн</p>
			<p class="range_max js-range-max"><span></span> грн</p>
		</div> <!-- range_slide -->

</div> <!-- range -->