<div class="select">
  <select name="sort" onchange="alert('Selected value: ' + $(this).val()); return false;">
    <option>@@option-value</option>
    <option>@@option-value2</option>
  </select>
<!--   <i class="icon-down-arrow"></i> -->
</div>