<nav id="side-menu" class="swipe-menu">
	<ul class="swipe-menu__list">
		<li><a href="#">menu item</a></li>
		<li><a href="#">menu item</a></li>
		<li><a href="#">menu item</a></li>
		<li><a href="#">menu item</a></li>
		<li><a href="#">menu item</a></li>
		<li><a href="#">menu item</a></li>
		<li><a href="#">menu item</a></li>
	</ul>
</nav>
<!-- swipe-menu -->