.accordion {
	border: 1px solid $black;
}

.accordion_title {
	padding: 2rem 2rem;
	background-color: $light-gray;
}

.accordion_content {
	padding: 0 2rem;
	max-height: 0;
	transition-property: max-height;
	transition-duration: .3s;
	overflow: hidden;
}

.accordion.is-open {
	.accordion_content {

	}
}