/* button template */

// base button styles; don't to change, only for extend
.btn {
	position: relative;
	display: inline-block;
	width: auto;
	max-width: 100%;
	font-size: inherit;
	padding: .85em 1em;
	line-height: 1;
	border: 0;
	outline: 0;
	box-shadow: none;
	text-align: center;
	transition-property: color, background, border;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	// prevent 
	user-select: none;
	appearance: none;
	&:focus {
		//outline: 0;
	}
	&:hover,
	&:active {

	}
}

.red-btn {
	@extend .btn;
	color: $black;
	background-color: $medium-red;
	&:hover,
	&:active {
		color: $black;
		background-color: $white;
	}
}

.border-btn {
	@extend .btn;
	border: 1px solid $white;
	color: $white;
	background: transparent;
	&:hover,
	&:active {
		color: $medium-red;
		background-color: $white;
	}
}






/* button template end */