.checkbox {
	display: inline-block;
	max-width: 100%;
	padding: 4px 0;
	> input[type="checkbox"] {
		display: none;
	}
	> span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 30px;
		position: relative;
		line-height: 1.5;
		transition: color .2s;
		color: inherit;
		&:hover {
			color: inherit;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border: 1px solid #cccccc;
			background-color: transparent;
		}
		&:after {
			display: inline-block;
			position: absolute;
			left: 2px;
			top: 50%;
			transform: translateY(-50%);
			
			color: #aad307;
			content: "\f00c";
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 1.8rem;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			opacity: 0;
			transition: opacity .3s ease-out;
		}
	}
	> input[type="checkbox"]:checked + span:after {
		opacity: 1;
	}
	> input[type="checkbox"]:disabled + span:after {
		opacity: .5;
		pointer-events: none;
	}
}