.quantity {
	display: inline-block;
	position: relative;
	padding: 0;

	> input {
		display: inline-block;
		width: 100%;
		padding: 0 .2rem;
		font-size: 1.4rem;
		text-align: center;
		outline: 0;
		border: 0;
		border-radius: 0;
		appearance: none;
		&:hover,
		&:focus {
			outline: 0;
		}
	}

}

.quantity_btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	font-size: 1.4rem;
	color: #000;
	transition: color .2s ease-out;
	user-select: none;
	&:hover,
	&:active {
		color: #ccc;
	}
	&.minus {

	}
	&.plus {

	}
}

.no-touch {
	.quantity {
	}
	.quantity_btn {
		&:hover,
		&:active {
			color: $light-green;
		}
	}
}
