
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		clip: auto !important;
		display: block;
		height: auto;
		left: 5px;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}