.select {
	position: relative;
	width: 100% !important;
	// btn toggle
	.dropdown-toggle {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 0;
		border: none;
		border-bottom: .3rem solid $light-purple;
		padding: 1.2rem;
		background: transparent;
		line-height: 1.6;
		font-size: 1.6rem;
		color: $light-purple;
		font-family: $default-fonts;
		font-weight: 300;
		transition-property: color, border;
		transition-duration: .2s;
		box-shadow: none;
		&:hover,
		&:active,
		&:focus {
			outline: none !important;
			box-shadow: none !important;
			background-color: transparent;
			border-color: $pink;
		}
		&.disabled {
			background-color: $ghost-white;
			border-color: $smoke-gray;
			opacity: .7;
			&:hover {
				background-color: transparent;
				//border-color: $ghost-white;
			}
		}
	}

	//btn text
	.filter-option {
		text-shadow: none;
		font-weight: 500;
	}

	// btn arrow
	.bs-caret {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
	}

	.caret {
		position: relative;
		top: .3rem;
		right: 0;
		margin: 0;
		display: inline-block;
		border: .6rem solid transparent;
		border-top-color: $light-purple;
	}

	// option list
	.dropdown-menu {
		.selected a {
			color: $pink;
		}
	}

	&.open {
		.dropdown-toggle {
			box-shadow: none;
			background: transparent;
			background-color: transparent;
			border-color: $silver-gray;
			&:hover,
			&:active,
			&:focus {
				outline: none;
				box-shadow: none;
				background-color: transparent;
				border-color: $pink;
			}
			.caret {
				border-top-color: $light-purple;
			}
		}
	}
	.dropdown-menu > li {
		a {
			font-size: 1.4rem;
			padding: .5rem 1rem;
		}
	}
}