/* img-slider.scss */

.simple-slider {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 5rem;
	text-align: center;
	// btns
	.slider_btn {
		display: block;
		height: auto;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 2;
		text-align: center;
		font-size: 3rem;
		transition: all .2s;
		&--prev {
			transform: translateY(-50%);
			left: 0;
		}
		&--next {
			transform: translateY(-50%);
			right: 0;
		}
		&:hover,
		&:active {

		}
		&.slick-disabled {
			visibility: hidden;
		}
	}
	// dots
	.slick-dots {
		display: block;
		text-align: center;
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		> li {
			display: inline-block;
			vertical-align: middle;
			padding: .4rem;
			button {
				display: block;
				padding: 0;
				font-size: 0;
				text-indent: -99999;
				background-color: transparent;
				border: .2rem solid $white;
				border-radius: 50%;
				outline: none;
				width: 1.4rem;
				height: 1.4rem;
				transition-property: background, border;
				transition-duration: .2s;
				&:hover,
				&:active {

				}
			}
			&.slick-active {
				button {
					background-color: $white;
				}
			}
		}
	}
}

.simple-slider_slide {
	display: block;
	width: 100%;
	height: auto;
	outline: 0;
	> a {
		display: block;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}


/* img-slider.scss end */