.table {
	display: table;
	table-layout: fixed;
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 100%;
	text-align: center;
	border-radius: 0;
	border-collapse: collapse;
	border: 1px solid $silver-gray;
	padding: 0;

	tbody {
		position: relative;
		margin: 0 auto;
	}
	caption {
		font-size: 1.5em;
		margin: .5em 0 .75em;
	}
	tr,
	th,
	td {
		margin: 0;
		padding: 1rem 1.3rem;
		border: 1px solid $silver-gray;
	}

	th {
		font-weight: bold;
		text-align: center;
		background: #eee;
		white-space: nowrap;
	}
}
