<!-- SCRIPTS -->
	<!--<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>-->
	<script>
		window.jQuery || document.write('<script src="assets/vendors/jquery/jquery-1.12.0.min.js"><\/script>')
	</script>
	<!-- libs -->
	<script src=assets/vendors/device.js></script>
	<!--<script src=assets/vendors/magnific-popup/jquery.magnific-popup.min.js></script>-->
	<!--<script src=assets/vendors/slick/slick.js></script>-->
	<!--<script src=assets/vendors/waypoints/waypoints.min.js></script>-->
	<!--<script src=assets/vendors/PickMeUp-master/dist/pickmeup.min.js></script>-->
	<!--<script src=assets/vendors/Inputmask-3.x/dist/jquery.inputmask.bundle.js></script>-->
	<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuZMjqL0Vvlelcahq5ZiJZ8mAav816Kpg"></script>-->

	<script src=assets/js/main.js></script>
	<!-- SCRIPTS end-->