/* common.scss */

/* selection */
*::selection {
	color: $dark-gray;
	background: rgba($light-gray, 0.3);
}

:root {
	font-size: $html-font-size;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: auto;
}

body {
	min-height: 100%;
	width: 100%;
	min-width: $content-min-width;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	position: relative;
	color: $black;
	background: $white;
	font-family: $default-fonts;
	overflow-x: hidden;
}

/* common.scss end */
